.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #182538;
    padding: 15px;
    font-size: 0.9rem;
    color: white;
}