.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/header-illustration-light.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 2rem;
    height: 6rem;
}
